<ActionBar class="action-bar" backgroundColor="#2B3238">
	<NavigationButton visibility="collapsed"></NavigationButton>
	<GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
		<ActionButton (tap)="onTap($event)" isArrow="true"></ActionButton>
		<Label col="1" text="Friend Location" class="action-bar-label"></Label>
		<Image col="2" #search src="~/icons/search.png" tintColor="#ffffff" (loaded)="animateOut(search)" class="action-bar-icon"></Image>
	</GridLayout>
</ActionBar>
<GridLayout height="100%">
	<ListView #list [items]="firebaseService.postSearchResultArray" (itemTap)="onNavigationItemTap($event)">
		<ng-template let-item="item">
			<GridLayout class="list-item">
				<Image [src]="getPostImage(item)"></Image>
				<Label [text]="getPostName(item)" class="item-title"></Label>
			</GridLayout>
		</ng-template>
	</ListView>
	<AbsoluteLayout #animatingImageContainer opacity="0" class="animating-image-container">
		<Image #animatingImage width="100%"></Image>
	</AbsoluteLayout>
</GridLayout>