<ActionBar title="Login"></ActionBar>
<FlexboxLayout class="page">
	<StackLayout class="form">
		<Image class="logo" src="~/images/library.png"></Image>
        <Label class="header" text="FriendLibrary"></Label>
        <GridLayout rows="auto, auto">
            <StackLayout row="0" class="input-field">
                <Label text="Email" class="label font-weight-bold m-b-5"></Label>
                <TextField class="input" [(ngModel)]="auth.email"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
            <StackLayout row="1" class="input-field">
                <Label text="Password" class="label font-weight-bold m-b-5"></Label>
                <TextField secure="true" class="input" [(ngModel)]="auth.password" (keypress)="handleInput($event)"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
        </GridLayout>
        <Button class="btn btn-primary w-full" text="Login" (tap)="login(auth)"></Button>
        <Label [nsRouterLink]="['/register']" text="Not a member? Register here." class="text-center footnote"></Label>
    </StackLayout>
</FlexboxLayout>