<ActionBar class="action-bar" backgroundColor="#2B3238">
	<NavigationButton visibility="collapsed"></NavigationButton>
	<GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
		<ActionButton class="fa" #actionButton (tap)="onDrawerButtonTap()"></ActionButton>		
		<Label horizontalAlignment="center" fontSize="25" col="1" text="Friend Library" class="action-bar-label"></Label>		
	</GridLayout>
</ActionBar>

<TabView class="tab-view" (selectedIndexChanged)="onSelectedIndexChanged($event)">
	<GridLayout class="tabs" *tabItem="{iconSource: friendlistIcon}">
		<Friendlist #friendlistComponent></Friendlist>
	</GridLayout>

	<GridLayout class="tabs" *tabItem="{iconSource: friendchatIcon}">
		<Friendchat #friendchatComponent></Friendchat>
	</GridLayout>

	<GridLayout class="tabs" *tabItem="{iconSource: friendmatchingIcon}" (onload)="friendmathingTap()">
		<Friendmatching #friendmatchingComponent></Friendmatching>
	</GridLayout>

	<GridLayout class="tabs" *tabItem="{iconSource: ideamatchingIcon}" (tap)="ideamathingTap()">
		<Ideamatching #ideamatchingComponent></Ideamatching>
	</GridLayout>
</TabView>
