<StackLayout>
	<GridLayout class="list-title">
		<Label text="Find Your Friend" class="title-name"></Label>
	</GridLayout>
	<GridLayout class="list-item">
		<Image src="" class="food-background"></Image>
		<Label text="Join" class="item-join"></Label>
		<Label text="Make" class="item-make"></Label>
	</GridLayout>
	<GridLayout class="list-item">
		<Image src="" class="game-background"></Image>
		<Label text="Join" class="item-join"></Label>
		<Label text="Make" class="item-make"></Label>
	</GridLayout>
	<GridLayout class="list-item">
		<Image src="" class="people-background"></Image>
		<Label text="Join" class="item-join"></Label>
		<Label text="Make" class="item-make"></Label>
	</GridLayout>
	
</StackLayout>