<StackLayout>
	<GridLayout class="list-title">
		<Label text="Find Your Friend" class="title-name"></Label>
	</GridLayout>
	<GridLayout class="list-item">
		<Image src="" class="food-background"></Image>
		<Label text="Join" class="item-join" (tap)="onFoodJoinTap()"></Label>
		<Label text="Make" class="item-make" (tap)="onFoodMakeTap()"></Label>
	</GridLayout>
	<GridLayout class="list-item">
		<Image src="" class="game-background"></Image>
		<Label text="Join" class="item-join" (tap)="onGameJoinTap()"></Label>
		<Label text="Make" class="item-make" (tap)="onGameMakeTap()"></Label>
	</GridLayout>
	<GridLayout class="list-item">
		<Image src="" class="chat-background"></Image>
		<Label text="Join" class="item-join" (tap)="onChatJoinTap()"></Label>
		<Label text="Make" class="item-make" (tap)="onChatMakeTap()"></Label>
	</GridLayout>
	
</StackLayout>