<ActionBar class="action-bar" backgroundColor="#2B3238">
	<NavigationButton visibility="collapsed"></NavigationButton>
	<GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
    <ActionButton col="0" (tap)="onTap($event)" isArrow="true"></ActionButton>
    <Label col="1" text="Search Friend" class="action-bar-label"></Label>
    <Label col="2" text="Go  " class="action-bar-label" (tap)="onGoTap()"></Label>
	</GridLayout>
</ActionBar>


<StackLayout>
<WrapLayout marginTop="3%">
	<Label height="25" class="message_row" row="1" col="0" colspan="3" text="Filter"></Label>
	<FlexboxLayout class="p-10" *ngFor="let option of matchingLevelOptionButtons">
	<!-- <FlexboxLayout orientation="horizontal" verticalAlignment="center"> -->
		
		<CheckBox #elem [checked]="option.selected" (checkedChange)="elem.checked !== option.selected && changeCheckedRadio(option)"
			class="checkbox" boxType="circle"></CheckBox>
		<!-- <StackLayout verticalAlignment="center"> -->
		<Label [text]="option.text" (tap)="changeCheckedRadio(option)"></Label>
		<!-- </StackLayout> -->
	<!-- </FlexboxLayout> -->----------------------------------------------------------------------------------------------------------------
	</FlexboxLayout>
</WrapLayout>

<GridLayout marginTop="2%" rows="auto auto auto auto" columns="auto * * *">
	<Label class="message_row" row="0" col="0" text="Type"></Label>
	<Label class="message_row" row="0" col="1" colspan="3" marginRight="10%" [text]="searchService.postType"></Label>
	<Label class="message_row" row="1" col="0" text="Distance"></Label>
	<TextField class="message_row" row="1" col="1" colspan="3" marginright="10%" [(ngModel)]="distanceValue" hint="meter"></TextField>
	<Label class="message_row" row="2" col="0" text="Location"></Label>
	<Label class="message_row" row="2" col="1" colspan="3" marginright="10%" [text]="locationCollapsed" (tap)="onLacationToggleTap()"></Label>
	<StackLayout row="3" col="0" colspan="4" [height]="locationHeight">
		<GoogleMap #googleMapComponent mapType="search"></GoogleMap>
	</StackLayout>
</GridLayout>
</StackLayout>

		


