<RadSideDrawer #homeDrawer gesturesEnabled="true" [drawerTransition]="sideDrawerTransition">
	<GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
		<StackLayout row="0" class="sidedrawer-header" (tap)="profileTap()">
			<Image class="sidedrawer-header-image" [src]="profilePicsrc"></Image>
			<Label class="sidedrawer-header-brand" [text]="name"></Label>
			<Label class="footnote" [text]="email"></Label>
		</StackLayout>

		<ScrollView row="1">
			<StackLayout class="sidedrawer-content">
				<GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="onHomeTap()">
					<Label col="0" text="&#xf015;" class="fa"></Label>
					<Label col="1" text="Home" class="p-r-10"></Label>
				</GridLayout>
			
				<GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="enneagramTap()">
					<Label col="0" text="&#xf666;" class="fa"></Label>
					<Label col="1" text="Enneagram" class="p-r-10"></Label>
				</GridLayout>
			
				<StackLayout class="hr-light"></StackLayout>
			
				<GridLayout columns="auto, *" class="sidedrawer-list-item">
					<Label col="0" text="&#xf013;" class="fa"></Label>
					<Label col="1" text="Settings" class="p-r-10"></Label> 
				</GridLayout>

				<GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="logoutTap()">
					<Label col="0" text="&#xf013;" class="fa"></Label>
					<Label col="1" text="Log out" class="p-r-10"></Label>
				</GridLayout>
			</StackLayout>
		</ScrollView>
	</GridLayout>

	<page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>