.message_row{
    margin-left: 10%;
    height: 40;
    font-size: 20;
}

.pic_row{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.action-bar-label {
    font-size: 22;
    horizontal-align: center;
    vertical-align: center;
    color: white;
}

.checkbox{
    height: 20;
}