.main-layout {
    margin-top: 0;
    margin-bottom: -2;
}

.animating-image-container {
    vertical-align: top;
}

.list-item {
    margin-bottom: 2;
}

.item-title {
    background-color: rgba(0,0,0,0.4);
    color: white;
    vertical-align: bottom;
    padding: 16;
    font-size: 20;
}

