<ScrollView class="page">
	<ListView class="list-group" text="Chat Room" [items]="rooms" (itemTap)="onItemTap($event)">
		<ng-template let-item="item">
			<GridLayout class="list-group-item" rows="auto, auto, auto" columns="auto, auto">
				<Image row="0" col="0" rowSpan="3" [src]="item.topUserSrc" class="thumb img-circle"></Image>
				<Label class="list-title" row="0" col="1" [text]="item.title"></Label>
				<Label class="list-items" row="1" col="1" rowSpan="2" [text]="item.topMessage"></Label>
			</GridLayout>
		</ng-template>
	</ListView>
</ScrollView>
<AbsoluteLayout>
	<FloatButton text="+" (tap)="onTap($event)"></FloatButton>
	<ChildButton1 #childButton1></ChildButton1>
	<ChildButton2 #childButton2></ChildButton2>
	<ChildButton3 #childButton3></ChildButton3>
</AbsoluteLayout>