<ScrollView class="page">
	<ListView class="list-group" [items]="chats" (itemTap)="onItemTap($event)">
		<ng-template let-item="item">
			<GridLayout class="list-group-item" rows="*" columns="auto, *">
				<Image row="0" col="0" [src]="item.src" class="thumb img-circle"></Image>
				<Label row="0" col="1" [text]="item.text"></Label>
			</GridLayout>
		</ng-template>
	</ListView>
</ScrollView>
<AbsoluteLayout>
	<FloatButton text="+" (tap)="onTap($event)"></FloatButton>
	<ChildButton1 #childButton1></ChildButton1>
	<ChildButton2 #childButton2></ChildButton2>
	<ChildButton3 #childButton3></ChildButton3>
</AbsoluteLayout>