<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Unlimited Fun</h2>
      <p class="text-muted">Check out what you can do with this app!</p>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-4 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-utensils"></i>
                <h3>Food</h3>
                <p class="text-muted">How about having some food and chatting with you someone you have never seen?</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-gamepad"></i>
                <h3>Game</h3>
                <p class="text-muted">Do you need someone for team play?</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-flask"></i>
                <h3>Experiment</h3>
                <p class="text-muted">You can find your bussiness partner by showing your experiment.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-plane"></i>
                <h3>Trip</h3>
                <p class="text-muted">Go trip and talk a lot!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>