.chat-layer{
    margin-bottom: 10%;
}

.chat-form{
	border-radius:15;
    background-color: #30bcff;
    height: 50;
	margin-top: 80%;
    text-align: center;
    margin-left: 10;
    margin-right: 10;
}
.chat-input{
    vertical-align: center;
    text-align: left;
    border-radius:10;
    background-color: white;
    height: 40;
    margin: 5;
}

.chat-button{
    background-color: white;
    font-size: 15;
    border-radius:10;
    margin: 5;
    width: 50;
    height: 40;
}

.btn {
    font-size: 18;
}

.action-bar-label {
    font-size: 22;
    horizontal-align: center;
    vertical-align: center;
    color: white;
}

.action-bar-icon {
    height: 20;
    vertical-align: center;
    margin: 12;
}


.card-layout {
    outline-style:solid;
    border: 5px solid black;
    background-color:#ddd;
    border-radius: 25px;
    padding: 5;
    margin: 10 10 0 10;
}
.card-layout .h1 {
	margin-bottom: 15;
}
.list-title{
    color: black;
    font-size: 20;
}
.list-items{
    font-size: 15;
}