<ActionBar class="action-bar" backgroundColor="#2B3238">
	<NavigationButton visibility="collapsed"></NavigationButton>
	<GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
		<ActionButton (tap)="onTap($event)" isArrow="true"></ActionButton>
		<Label col="1" [text]="friendChatService.selectedRoomTitle" class="action-bar-label"></Label>
	</GridLayout>
</ActionBar>

<ScrollView class="page">
	<StackLayout class="chat-layer">
		<CardView *ngFor="let item of friendChatService.messageArray" class="card" ios:shadowRadius="3">
			<StackLayout class="card-layout">
				<GridLayout rows="auto, auto, auto" columns="auto, auto">
					<Image row="0" col="0" rowSpan="3" [src]="friendChatService.users[item['user']]['profile']['profilePicsrc']" class="thumb img-circle"></Image>
					<Label class="list-title" row="0" col="1" [text]="friendChatService.users[item['user']]['profile']['name']"></Label>
					<Label class="list-items" row="1" col="1" rowSpan="2" [text]="getMessage(item)"></Label>
				</GridLayout>
			</StackLayout>
		</CardView>
	</StackLayout>
</ScrollView>

<GridLayout class="chat-form" rows="auto" columns="*, auto">
	<TextView row="0" col="0" [(ngModel)]="str" class="input input-border chat-input"></TextView>
	<Button row="0" col="1" text="Save" (tap)="pushMessage()" class="btn btn-outline chat-button"></Button>
</GridLayout>
