<GridLayout>
	<ScrollView>
		<GridLayout rows="auto, auto">

			<GridLayout class="anim-cover" row="0" rows="auto" columns="*">
				<Image row="0" col="0" marginTop="30" height="180"
					class="card-img" [src]="thisUserBackgroundPicsrc" (tap)="onAddImageTap('background')"></Image>
				<Image row="0" col="0" marginTop="30"
					class="profile-img" [src]="thisUserProfilePicsrc" (tap)="onAddImageTap('profile')"></Image>
				<Label row="0" col="0" verticalAlignment="top" horizontalAlignment="left"
					(tap)="onCloseTap()" fontSize="24" text="&#xf060;" class="fa close">
				</Label>
			</GridLayout>

			<StackLayout class="site-main-content" row="1">				
				<Label class="site-item-header" text="Country"></Label>
				<TextView textWrap="true" class="site-input-field" autocorrect="false" hint="Enter NOTES"></TextView>

				<Label class="site-item-header" text="Language"></Label>
				<TextView textWrap="true" class="site-input-field" autocorrect="false" hint="Enter NOTES"></TextView>

				<Label class="site-item-header" text="Interest"></Label>
				<TextView textWrap="true" class="site-input-field" autocorrect="false" hint="Enter NOTES"></TextView>

				<Label class="site-item-header" text="Please inroduce yourself here."></Label>
				<GridLayout height="100">
					<TextView textWrap="true"></TextView>
				</GridLayout>
			</StackLayout>

		</GridLayout>
	</ScrollView>
</GridLayout>