<ScrollView class="page">
	<ListView #friendList class="list-group" [items]="firebaseService.friendArray" (itemTap)="onItemTap($event)">
		<ng-template let-item="item">
			<GridLayout class="list-group-item" rows="*" columns="auto, *">
				<Image row="0" col="0" [src]="getFriendProfilePicsrc(item)" class="thumb img-circle"></Image>
				<Label row="0" col="1" [text]="getFriendName(item)"></Label>
			</GridLayout>
		</ng-template>
	</ListView>
</ScrollView>
<AbsoluteLayout>
	<ChildButton1 #childButton1 text="ID" (tap)="onChildButton1Tap()"></ChildButton1>
	<FloatButton #floatButton text="+" (tap)="onFloatButtonTap($event)"></FloatButton>
</AbsoluteLayout>
<GridLayout>
	<StackLayout style.zIndex="999" modal size="lg" alignment="middle" dismissable="true" duration="100" (open)="onOpenModal()"
	 (close)="onCloseModal()">
		<StackLayout class="modal">

			<GridLayout marginBottom="40" horizontalAlignment="center" rows="auto,auto" columns="auto" (tap)="onChatTap()">
				<Image row="0" col="0" width="128" height="128" [src]="getProfilePicSrcBySelectedFriendID()"></Image>
				<Label row="1" col="0" fontSize="20" [text]="getNameBySelectedFriendID()"></Label>
			</GridLayout>

			<GridLayout marginBottom="40" horizontalAlignment="center" rows="auto,auto" columns="auto, auto">
				<Image row="0" col="0" width="64" height="64" src="~/pages/home/images/speech-bubble.png" (tap)="onChatTap();"></Image>
				<Label row="1" col="0" fontSize="" text="Chat"></Label>
				<Image row="0" col="1" width="64" height="64" src="~/pages/home/images/house.png" (tap)="onHomeTap();"></Image>
				<Label row="1" col="1" fontSize="" text="Home"></Label>
			</GridLayout>

			<WrapLayout marginBottom="20" horizontalAlignment="center">
				<Label (tap)="closeModal()" text="CANCEL"></Label>
			</WrapLayout>
		</StackLayout>
	</StackLayout>
</GridLayout>
