.site-item-header {
    margin: 12 0;
    font-size: 12;
}

.site-input-field {
    font-size: 20;
    margin-left: -4;
    margin-top: -4;
    word-wrap: normal;
}

.site-main-content{
    padding: 30;
}

.image-button {
    margin-top:20;
    vertical-align: center;
    height: 100;
    border-radius: 50;
}

.image-button-image {
    horizontal-align: center;
}

.image-button-text {
    font-size: 12;
    color: white;
    horizontal-align: center;
}
