<ActionBar title="Friend Library" class="action-bar">
	<ActionItem text="Logout" ios.position="true" (tap)="logout()"></ActionItem>
</ActionBar>

<TabView class="tab-view">
	<StackLayout class="tabs" *tabItem="{iconSource: '~/components/home/images/user-avatar-main-picture.png'}">
		<router-outlet name="friendlistoutlet"></router-outlet>
	</StackLayout>
	
	<StackLayout class="tabs" *tabItem="{iconSource: '~/components/home/images/speech-bubble.png'}">
		<router-outlet name="friendchatoutlet"></router-outlet>
	</StackLayout>
	
	<StackLayout class="tabs" *tabItem="{iconSource: '~/components/home/images/magnifier-with-a-heart.png'}">
		<router-outlet name="friendmatchingoutlet"></router-outlet>
	</StackLayout>
	
	<StackLayout class="tabs" *tabItem="{iconSource: '~/components/home/images/magnifier-with-a-star.png'}">
		<router-outlet name="ideamatchingoutlet"></router-outlet>
	</StackLayout>
</TabView>