<ActionBar class="action-bar" backgroundColor="#2B3238">
	<NavigationButton visibility="collapsed"></NavigationButton>
	<GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
    <ActionButton col="0" (tap)="onTap($event)" isArrow="true"></ActionButton>
    <Label col="1" text="Blog Post" class="action-bar-label"></Label>
    <Label col="2" text="Upload" class="action-bar-label" (tap)="onUploadTap()"></Label>
	</GridLayout>
</ActionBar>
<ScrollView #scrollview (scroll)="onMapScroll($event)">
	<GridLayout marginTop="5%" rows="auto auto auto auto auto auto auto" columns="auto *">
		<Label class="message_row" row="0" col="0" text="Type"></Label>
		<Label class="message_row" row="0" col="1" marginRight="10%" [text]="blogService.postType"></Label>
		<Label class="message_row" row="1" col="0" text="Title"></Label>
		<TextField class="message_row" row="1" col="1" marginright="10%" [(ngModel)]="titleValue" hint="Title"></TextField>
		<Label class="message_row" row="2" col="0" text="Location"></Label>
		<Label class="message_row" row="2" col="1" marginright="10%" [text]="location_collapsed" (tap)="onLacationToggleTap()"></Label>
		<StackLayout row="3" col="0" colspan="2" [height]="location_height">
			<MapExample #mapExampleComponent mapType="blog"></MapExample>
		</StackLayout>
		<Label class="message_row" row="4" col="0" text="Image"></Label>
		<Label class="message_row" row="4" col="1" marginright="10%" [text]="image_collapsed" (tap)="onImageToggleTap()"></Label>
		<Image row="5" col="0" colspan="2" *ngIf="!firebaseService.currentBlogImageFilePath" src="~/home/blog/images/image.png" [height]="image_height" (tap)="selectImage('blog')"></Image>
		<Image row="5" col="0" colspan="2" *ngIf="firebaseService.currentBlogImageFilePath" [src]="firebaseService.currentBlogImageFilePath" [height]="image_height" (tap)="selectImage('blog')"></Image>
		<StackLayout class="pic_row" row="6" col="0" colspan="2" height="1000">
			<TextView class="input input-rounded" hint="Enter your message" [(ngModel)]="descriptionValue" editable="true"></TextView>
		</StackLayout>
	</GridLayout>
</ScrollView>

