<ActionBar class="action-bar" backgroundColor="#2B3238">
	<NavigationButton visibility="collapsed"></NavigationButton>
	<GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
    <ActionButton col="0" (tap)="onTap($event)" isArrow="true"></ActionButton>
    <Label col="1" text="Blog" class="action-bar-label"></Label>
    <Label col="2" text="Upload" class="action-bar-label" (tap)="onUploadTap()"></Label>
	</GridLayout>
</ActionBar>
<GridLayout columns="* * *" rows="auto auto auto">
	<TextField col="0" colSpan="3" row="0" [(ngModel)]="textFieldValue" hint="Title"></TextField>
	<Image *ngIf="!selectedImagePath" height="70" col="0" row="1" src="~/home/blog/images/image.png" (tap)="selectImage()"></Image>
	<Image *ngIf="selectedImagePath" height="70" col="0" row="1" [src]="selectedImagePath" (tap)="selectImage()"></Image>
  <Image *ngIf="!selectedLocation" height="70" col="1" row="1" src="~/home/blog/images/location_notselected.png" (tap)="selectLocation()"></Image>
  <Image *ngIf="selectedLocation" height="70" col="0" row="1" src="~/home/blog/images/location_selected.png" (tap)="selectLocation()"></Image>
	<ListPicker height="70" col="2" row="1"
	 [items]="blogTypes" [(ngModel)]="selectedListPickerIndex"></ListPicker>
</GridLayout>
<TextView marginTop="250" height="1000" class="input">
	<FormattedString>
		<Span text="This is a text view that uses attributed text. You can use text attributes such as "></Span>
		<Span text="bold, " fontWeight="Bold"></Span>
		<Span text="italic " fontStyle="Italic"></Span>
		<Span text="and " ></Span>
		<Span text="underline." textDecoration="Underline"></Span>
	</FormattedString>
</TextView>