<ActionBar class="action-bar" backgroundColor="#2B3238">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
        <Label col="1" text="Add Friend" class="action-bar-label"></Label>
        <ActionButton (tap)="onTap($event)" isArrow="true"></ActionButton>
    </GridLayout>
</ActionBar>
<GridLayout rows="auto", columns="auto auto">
    <Label class="message_title" row="0" col="0" text="Search ID:"></Label>
    <TextField class="message_row" row="0" col="1" [(ngModel)]="searchID" hint="meter"></TextField>
</GridLayout>
