.main-layout {
    margin-top: 0;
    margin-bottom: -2;
}

.animating-image-container {
    vertical-align: top;
}

.list-item {
	padding: 5% 5% 0 5%;
	height: 30%;
}
.test-background{
	background-image: ~/home/ideamatching/images/food.jpg;
	border-radius: 20%;
}
.mentor-background{
	background-image: ~/home/ideamatching/images/idea.jpg;
	border-radius: 20%;
}
.mentee-background{
	background-image: ~/home/ideamatching/images/people.jpg;
	border-radius: 20%;
}

.list-title {
	padding: 5% 5% 0 5%;
	height: 10%;
}
.title-name {
	color: black;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	font-size: 30%;
	height: 100%;
	width: 80%;
	border-radius: 10%;
}

.item-join {
    background-color: rgba(0,0,0,0.4);
	color: white;
	vertical-align: center;
	horizontal-align: left;
	text-align: center;
    padding-top: 50%;
	font-size: 20%;
	height: 100%;
	width: 30%;
	border-radius: 20% 0 0 20%;
}


.item-make {
    background-color: rgba(0,0,0,0.4);
	color: white;
	vertical-align: center;
	horizontal-align: right;
	text-align: center;
    padding-top: 50%;
	font-size: 20%;
	height: 100%;
	width: 30%;
	border-radius: 0 20% 20% 0;
}


.action-bar-label {
    font-size: 22;
    horizontal-align: center;
    vertical-align: center;
    color: white;
}

.action-bar-icon {
    width: 20;
    vertical-align: center;
    margin: 12;
}