<StackLayout>
    <GridLayout class="list-title">
        <Label text="Share Your Idea" class="title-name"></Label>
    </GridLayout>
    <GridLayout class="list-item">
        <Image src="" class="test-background"></Image>
        <Label text="Test your mind state" class="item-test" (tap)="onStateCheckTap()"></Label>
    </GridLayout>
    <GridLayout class="list-item">
        <Image src="" class="mentor-background"></Image>
        <Label text="Idea" class="item-join" (tap)="onIdeaTap()"></Label>
        <Label text="Follow me" class="item-make" (tap)="onFollowMeTap()"> </Label>
    </GridLayout>
    <GridLayout class="list-item">
        <Image src="" class="mentee-background"></Image>
        <Label text="Advice" class="item-join" (tap)="onAdviceTap()"></Label>
        <Label text="Help me" class="item-make" (tap)="onHelpMeTap()"></Label>
    </GridLayout>

</StackLayout>
